.ClickablePicture {
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}

.ClickablePicture .ClickablePicture-img {
  height: 140px;
}

.ClickablePicture .ClickablePicture-glasses {
  position: absolute;
  left: 37px;
  top: 40px;
  height: 40px;
}